.content{
  height: 100vh;
}
.text-content{
  background-color: #fff;
  color: #272728;
  padding: 5px 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  border-radius: 20px;

}
/* .spinner{
  height: 100vh;
  background-color: red;
} */